body {
	margin: 100px 100px 500px 100px;
	font-family: "trebuchet ms",verdana,arial,sans-serif;
}

body.lite {
	background-color: #222;
	color: #ccc;

	#pr_scheme.mermaid {
		.err-block>* {
			fill: #fde;
			stroke: #e77;
		}
		.empty-block>* {
			fill: transparent;
			stroke: #333;
			stroke-dasharray: 5,5;
		}
		.fin-block>* {
			fill: #fc0;
			stroke: #c60;
		}
	}
}

body.dark {
	background-color: #222;
	color: #bbb;

	#pr_scheme.mermaid {
		.err-block>* {
			fill: #422;
			stroke: #f99;
		}
		.empty-block>* {
			fill: transparent;
			stroke: #fff;
			stroke-dasharray: 5,5;
		}
		.fin-block>* {
			fill: #330;
			stroke: #ec6;
		}
		.syncro-seq-block>* {
			fill: #555;
			stroke: #ccc;
		}
		.promise-block>* {
			fill: #333;
			stroke: #555;
			stroke-width: 3;
		}
	}
}

summary {
	display: inline-block;
	padding: 5px 10px;
	cursor: pointer;
	border-bottom: 1px solid #ccc;
}

details[open]>summary {
	display: block;
}
body>ol>li::marker {
	font-weight: bold;
	font-size: 1.4em;
}

.mermaid {
	filter: blur(10px);
}
.mermaid[data-processed="true"] {
	filter: none;
}

.key-binding-caption {
	text-align: center;
}



code{
	color: #0a8;
	padding-left: 10px;
	padding-right: 10px;
	white-space: nowrap;
	white-space: pre;
	// background-color: #f7f7ff;
	font-family: consolas;
	text-shadow: 0 0 2px #08a;
	span.opt{
		color: #aaa;
		text-shadow: 0 0 2px #aaa;
		&:before{
			content: " [";
		}
		&:after{
			content: "]";
		}
		&:before,
		&:after{}
	}
	span.meta {
		color: #aaa;
		font-family: courier;
		text-shadow: none;
		&:before{}
		&:after{}
		
		
		&.cb,
		&.corner {
			&:before{
				content: "<";
			}
			&:after{
				content: ">";
			}
		}
		&.sb,
		&.sqare {
			&:before{
				content: "[";
			}
			&:after{
				content: "]";
			}
		}
	}
}

table {
	counter-reset: trn trn-0 trn-1 trn-2 trn-3 trn-4 trn-5;
	
	.trn,
	.trn-0,
	.trn-1,
	.trn-2,
	.trn-3,
	.trn-4,
	.trn-5 {
		text-align: center;
		&:before {
			display: inline-block;
		}
	}

	.trn:before {
		content: counter(trn);
		counter-increment: trn;
	}
	.trn-0:before {
		content: counter(trn-0);
		counter-increment: trn-0;
	}
	.trn-1:before {
		content: counter(trn-1);
		counter-increment: trn-1;
	}
	.trn-2:before {
		content: counter(trn-2);
		counter-increment: trn-2;
	}
	.trn-3:before {
		content: counter(trn-3);
		counter-increment: trn-3;
	}
	.trn-4:before {
		content: counter(trn-4);
		counter-increment: trn-4;
	}
	.trn-5:before {
		content: counter(trn-5);
		counter-increment: trn-5;
	}

	.ta-l {
		text-align: left;
	}
	.ta-c {
		text-align: center;
	}
	.ta-r {
		text-align: right;
	}
}